*.pyc
__pycache__/
db.sqlite3
.DS_Store
.vscode/
*.pyo
*.pyc
__pycache__/
.cache/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.suo
*~
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.vscode/
.pyc/
.pytest_cache/
__pycache__/
.mypy_cache/
db.sqlite3
.coverage
htmlcov/
.venv/

staticfiles/
media/